@import 'compass';
$btnBlogShots:#f86c99;
$btnBlogLink:#666;//#fcadc6;
$slideBlue:#9ee0ff;
$slideYellow:#ffad00;
$slideGreen:#78A632;
$slideBasic:#ff7575;
#Blog{
		//@include background-image(linear-gradient(top,  $bg_Contact 35%, #AD0000));//#300030 #430008 
		background:#ff7575;
		text-align: center;
		h1{
			font-size:2.5em;
			color:#fff;
		}
		h2{
			font-size:1.5em;
		}
	}
#Blog{
	.contentWrap{
		width:100%;
		height:100%;
		left:0;
		position:relative;
		overflow: hidden;
		display: table;
		background:#ff7575;
		.sliderWrapper{
			@include perspective(800px);
			@include box-sizing(border-box);
			width:100%;
			text-align: center;
			padding-top:2em;
			max-height:700px;
			min-height:450px;
		}
	}
	.slider{
		overflow: hidden;
		background:#ffbbbb;
		width:70vw;
		//height:75vh;
		max-height: 500px;
		min-height:500px;
		//max-width: 1000px;
		position:absolute;
		@include box-shadow(0px 6px 3px #000);
		@include border-radius(0.3em);
		-webkit-box-reflect: below 0px -webkit-linear-gradient(top, transparent 80% , #fff);
		& ul{
			left:0;
			position:relative;
			height:100%;
			display:table;
			& li{
				//#774747;
				color:#462304;
				width:60vw;
				height:70vh;
				min-height: 300px;
				position:relative;
				float:left;
				overflow:hidden;
				@include box-sizing(border-box);
				& img{
					max-width:100%;
					max-height:100%;
					//height:100%;
					//width:100%;
					//min-height: 100%;
					//min-width: :100%;
				}
				& h3{
					line-height:2em;
					font-size:1.7vw;
					padding:5vw;

				}
			}
		}
		.btnCtrl{
			background:transparent;
			position:absolute;
			top:50%;
			height:2.7em;
			width:2.7em;
			overflow: hidden;
			border:none;
		}
		#prev{
				background:url('/static/images/gray_prev.png') no-repeat;
				background-position:0 100%;
				left:0;
				&:hover{
					background-position:0 0;
				}
		}
		#next{
			background:url('/static/images/gray_next.png') no-repeat;
			right: 0;
			background-position:0 100%;
			&:hover{
				background-position:0 0;
			}
		}
	}
	#sliderLeft{
		$colorList: $slideGreen,$slideBasic, $slideYellow,$slideBlue, $slideGreen,$slideBasic;
		@for $i from 1 through 6{
			ul li:nth-child(#{$i}){
				background: nth($colorList, $i);
			}
		}
		@include transform(translateX(-74%) rotateY(35deg) scale(0.9) translateY(0.5%));
		//@include transform-origin(top right 0);
		-webkit-transform-origin: top right;
 		-moz-transform-origin:top right;
 		-ms-transform-origin:top right;
 		-o-transform-origin:top right;
  		transform-origin:top right;
  		//opacity:0.7;
	}
	#sliderRight{
		$colorList: $slideYellow, $slideBlue,$slideGreen,$slideBasic,$slideYellow,$slideBlue;
		@for $i from 1 through 6{
			ul li:nth-child(#{$i}){
				background: nth($colorList, $i);
			}
		}
		@include transform(translateX(116.2%) rotateY(-35deg) scale(0.9) translateY(0%));
		//@include transform-origin(top left 0);
		-webkit-transform-origin: top left;
  		-moz-transform-origin: top left;
  		-ms-transform-origin: top left;
  		-o-transform-origin: top left;
 		transform-origin: top left;
 		//opacity:0.7;
	}
	#slicesWrapper{
		$colorList: $slideBasic, $slideYellow, $slideBlue,$slideGreen,$slideBasic,$slideYellow;
		@for $i from 1 through 6{
			ul li:nth-child(#{$i}){
				background: nth($colorList, $i);
			}
		}
		-webkit-box-reflect: below 0px -webkit-linear-gradient(top, transparent 80% , #fff);
		@include transform(scale(0.9) translateX(23.5%) translateY(-5.4%));
		.slice{
			position:relative;
			background:#9ee0ff;
			width:50%;
			height:100%;
			float:left;
			overflow: hidden;
			.dialogBox{
				//border:2px solid #F16c97;
				position:relative;
				width:100%;
				height:100%;
				overflow:scroll;
				background:#fff;
				@include border-radius(0.3em);
				@include box-sizing(border-box);
				padding:5% 8% 5% 8%;
				//opacity:0.7;
				line-height:150%;
			}
		}
	}
	.blogLink{
		position:absolute;
		float:right;
		width:12em;
		color:#fff;
		right:1em;
		bottom:1em;
	}/*
	.wrapper{
		position:absolute;
		width:25%;
		height:10%;
		&.blogshots{
			top:80%;
			left:27%;
		}
		&.bloglink{
			top:85%;
			right:28%;
		}
		.ribbon{
			position:relative;
			width:1.5em;
			height:0;
			border-width:0.8em 0.5em;
			border-color:$btnBlogShots $btnBlogShots $btnBlogShots transparent;
			border-style:solid;
			top:0.65em;
			left:-0.9em;
			z-index: 1;
			&.link{
				width:1em;
				top:0.6em;
				left:92%;
				border-color:$btnBlogLink transparent $btnBlogLink $btnBlogLink ;
			}
		}
	}*/
}/*
#blogShots{
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	font-size:1.1em;
	color:#fff;
	background:$btnBlogShots;
	//@include border-radius(0.3em);
	&:before{
		content: "Show Me";
		position:absolute;
		top:-1em;
		font-size: 0.7em;
		color:#696969;
		top:-1em;
		
	}
	&:after{
		content:"";
		width:0;
		height:0;
		position:absolute;
		border-width:0.3em 0.7em;
		border-color: #9d133f #9d133f transparent transparent;
		border-style:solid;
		top:103%;
		left:1px;
	}
}
#BlogLink{
	z-index:2;
	position:absolute;
	top:0;
	right:0;
	font-size:1em;
	color:#fff;
	background:$btnBlogLink;//#929292;
	&:before{
		content: "";
		position:absolute;
		width:0;
		height:0;
		border-width:0.3em 0.55em;
		border-color:#333 transparent transparent #333;
		bottom:-2px;
		right:-1px;
		top:105%;
		border-style:solid;
	}
	&:after{
		content:"In a new tab";
		position:absolute;
		font-size: 0.7em;
		color:#696969;
		top:-1em;
		right:0;
	}
}*/
@media screen and (max-width:78.125em){// 1250 / 16 =
	#Blog h1{
		font-size: 2em;
	} 
	.slider ul li img{
		@include transform(scale( 1.2) translateY(8.4%));
	}
}
@media screen and (max-width:71.875em){// 1150 / 16 = 
	.slider ul li img{
		@include transform(scale(1.3) translateY(11.6%));
	}
}
@media screen and (max-width:65.625em){// 1050 / 16 = 
	#Blog h1{
		font-size: 1.5em;
	} 
	.slider {
		ul {
			li {
				img{
					@include transform(scale(1.4) translateY(14.3%));
				}
			}
		}
	}
}
@media screen and (max-width:53.125em){// 850 / 16 = 
	.slider ul li img{
		@include transform(scale(1.5) translateY(17.3%));
	}
}
@media screen and (max-width:46.875em){// 750 / 16 = 
	#Blog{
		.slider{
			//height:40vh;
		}
		.slider ul li img{
			@include transform(scale(1.6) translateY(19.3%));
		}
	}	
}