/** Shelter background and font color **/
$shelterBg:#fdd1e0;
$shelterFontColor:#630a00;

/** Intro Main Part Title,font,background color **/
$MainPartTitle:#fff;
$MainPartFontColor:#fff;
$MainPartBg:#EEE;

/** Side Part, including each unit background, shelter and cube **/
$sideFontColor:#700000;
$sideBorder:1px solid #B2B2B2;
$sideBorderLight:1px solid #FFF;

$gradientStart:#EEE;
$gradientMiddle:#ff6666;
$gradientEnd:#ad0000;

/** cube each side color, size, font color **/
$cubeWidth:140px;//140/ 1440 = 9.722%
$cubeFontColor:#fff;
$cubeLight:#ff7373;
$cubeMiddle:#ff4444;
$cubeDark:#ad0000;
$cubeBorder:#ad0000;
@mixin cubeColor($light, $middle, $dark){
	.cubeFront{
		background:$light;
	}
	.cubeTop{
		background:$middle;
	}
	.cubeRight{
		background:$middle;
	}
	.cubeLeft{
		background:$middle;
	}
	.cubeBack{
		background:$light;
	}
	.cubeBottom{
		background:$dark;
	}
}
#Intro{
	@include background-image(linear-gradient(top, #9ee0ff, #ff4444));
	.contentWrap{
		text-align: center;
		background:transparent;
		height:auto;
		& h1{
			font-size:2.5em;
			color:$MainPartTitle;
		}
		& h2{
			font-size: 1.5em;
		}
		.left{
			float:left;
			width:20%;
			height:100%;
		}
	}
}
.introWrapper{
	width:100%;
	
	//height:93%;
}
.topPart{
	//height:40%;
	height:30vh;
	width:100%;
	color:$MainPartFontColor;
	max-height:250px;
	min-height:220px;

}
.bottomPart{
	//height:55%;
	width:100%;
	padding-top:1em;
	max-height:calc(300px * 4);
	//overflow:hidden;
}
.perspective{
	position:relative;
	text-align:center;
	color:$sideFontColor;
	overflow:hidden;
	margin-right:1%;
	margin-bottom:2%;
	width:23.5%;
	height:35vh;
	max-width:333px;
	max-height:330px;
	min-height:260px;
	float:left;
	border-right:1px dashed #ccc;
	.shelterWrapper{
		position:absolute;
		height:85%;
		width:99%;
		bottom:0;
		overflow: hidden;
		&.gra{
		//@include background-image(linear-gradient(left, $gradientStart, $gradientMiddle));
			@include perspective-origin(0 250px);
			@include perspective(800px);
		}
		&.free{
			//@include background-image(linear-gradient(left, $gradientMiddle, $gradientEnd));
			@include perspective-origin(0 250px);
			@include perspective(800px);
		}
		&.bel{
			//@include background-image(linear-gradient(left, $gradientStart, $gradientMiddle));
			@include perspective-origin(100% 250px);
			@include perspective(800px);
		}
		&.Ihope{
			//@include background-image(linear-gradient(left, $gradientMiddle, $gradientEnd));
			@include perspective-origin(100% 250px);
			@include perspective(800px);
		}
	}
	.introShlter{
		font-size:0.9em;
		position:absolute;
		height:80%;
		width:100%;
		left:-100%;
		top:0;
		line-height:1.5em;
		z-index:10;
		color:$shelterFontColor;
		font-size:0.8em;
		background:transparent;
	}
	.carve{
		h3{
			font-size: 0.9em;
		}
		padding-top:5%;
		margin-bottom:5%;
	}
	
}

.cube{
	font-size:0.6em;
	margin-left:20%;
	margin-top:13%;
	position:relative;
	float:left;
	height:$cubeWidth;
	width:$cubeWidth;
	text-align:center;
	@include transform-style(preserve-3d);
	& div{
		color:$cubeFontColor;
		line-height:1.8em;
		width:100%;
		height:100%;
		position:absolute;
		padding:8% 3% 5% 3%;
		@include box-sizing(border-box); 
		@include border-radius(0.2em);
		border:2px dashed $cubeBorder;
	}
	.cubeFront{
		@include transform(translateZ(0.5 * $cubeWidth));/* should be half width,but percentage doesn't work on translateZ */
	}
	.cubeTop{
		border:none;
		@include transform(rotateX(-90deg) translateY(-1 * 0.5 * $cubeWidth));// percentage related to width
		-webkit-transform-origin: top center;
		-moz-transform-origin: top center;
		-ms-transform-origin: top center;
		-o-transform-origin: top center;
		transform-origin: top center;
	}
	.cubeRight{
		@include transform(rotateY(-270deg) translateX(0.5 * $cubeWidth));
		-webkit-transform-origin: top right;
		-moz-transform-origin: top right;
		-ms-transform-origin: top right;
		-o-transform-origin: top right;
		transform-origin: top right;
	}
	.cubeLeft{
		@include transform(rotateY(270deg)  translateX(-1 * 0.5 * $cubeWidth));
		-webkit-transform-origin: center left;
		-moz-transform-origin: center left;
		-ms-transform-origin: center left;
		-o-transform-origin: center left;
		transform-origin: center left;
	}
	.cubeBottom{
		border:none;
		@include transform(rotateX(90deg) translateY(0.5 * $cubeWidth));
		-webkit-transform-origin: bottom center;
		-moz-transform-origin: bottom center;
		-ms-transform-origin: bottom center;
		-o-transform-origin: bottom center;
		transform-origin: bottom center;
	}
	.cubeBack{
		@include transform( translateZ(-0.5 * $cubeWidth) rotateY(180deg) );
	}
	&.graduated{
		& div{
			padding-top:25%;
			}
		@include cubeColor($cubeLight, $cubeMiddle, $cubeDark);
		@include animation(spin 40s infinite linear);
	}
	&.frontEnd{
		& div{
			padding-top:20%;
		}
		margin-left:20%;
		@include cubeColor($cubeLight, $cubeMiddle, $cubeDark);
		@include animation(spin 40s  2s infinite linear);
	}
	&.believe{
		& div{
			padding-top:40%;
		}
		margin-left:26%;
		@include cubeColor($cubeLight, $cubeMiddle, $cubeDark);
		@include animation(spin 40s  4s infinite linear);
	}
	&.hope{
		& div{
			padding-top:20%;
		}
		margin-left:27%;
		@include cubeColor($cubeLight, $cubeMiddle, $cubeDark);
		@include animation(spin 40s 6s infinite linear);
	}
}
@-moz-document url-prefix(){
	.cube{
		width:10vw;
		height:10vw;
		.cubeFront{
			-moz-transform:translateZ(5vw);
		}
		.cubeTop{
			-moz-transform:rotateX(-90deg) translateY(-1 * 5vw);
		}
		.cubeRight{
			-moz-transform:rotateY(-270deg) translateX(5vw);
		}
		.cubeLeft{
			-moz-transform:rotateY(270deg)  translateX(-1 * 5vw);
		}
		.cubeBottom{
			-moz-transform:rotateX(90deg) translateY(5vw);
		}
		.cubeBack{
			-moz-transform: translateZ(-0.5 * 10vw) rotateY(180deg);
		}
	}
}
.introShlter{
	//Mouse direction aware animation
	&.in_top{
		@include animation('intro_in_top 1s forwards');
	}
	&.in_right{
		@include animation('intro_in_right 1s forwards');
	}
	&.in_bottom{
		@include animation('intro_in_bottom 1s forwards');
	}
	&.in_left{
		@include animation('intro_in_left 1s forwards');
	}
	&.out_top{
		@include animation('intro_out_top 1s forwards');
	}
	&.out_bottom{
		@include animation('intro_out_bottom 1s forwards');
	}
	&.out_left{
		@include animation('intro_out_left 1s forwards');
	}
	&.out_right{
		@include animation('intro_out_right 1s forwards');
	}
}


@media screen and (max-width:68.75em){// 1100px / 16 = 68.75
	.cube{
		&.believe{
			margin-left:20%;
		}
		&.hope{
			margin-left:22%;
		}
		&.frontEnd{
			margin-left: 16%;
		}
		&.graduated{
			margin-left:10%;
		}
	}
	.introShlter p{
		font-size: 0.8em;
	}
	.perspective{
		.carve h3{
			font-size: 0.8em;
		}
	}
}
@media screen and (max-width:59.375em){// 950px / 16 = 68.75
	.topPart{
		height:25vh;
	}
	$cubeWidth:130px;
	.cube{
		height:$cubeWidth;
		width:$cubeWidth;
		.cubeFront{
			@include transform(translateZ(0.5 * $cubeWidth));/* should be half width,but percentage doesn't work on translateZ */
		}
		.cubeTop{
			@include transform(rotateX(-90deg) translateY( -0.5 * $cubeWidth));// percentage related to width
		}
		.cubeRight{
			@include transform(rotateY(-270deg) translateX( 0.5 * $cubeWidth));
		}
		.cubeLeft{
			@include transform(rotateY(270deg)  translateX(-0.5 * $cubeWidth));
		}
		.cubeBottom{
			@include transform(rotateX(90deg) translateY(0.5 * $cubeWidth));
		}
		.cubeBack{
			@include transform( translateZ(-0.5 * $cubeWidth) rotateY(180deg) );
		}
		&.believe{
			margin-left:20%;
		}
		&.hope{
			margin-left:22%;
		}
		&.frontEnd{
			margin-left: 16%;
		}
		&.graduated{
			margin-left:10%;
		}
	}
	.perspective{
		.carve h3{
			font-size: 0.7em;
		}
	}
	.topPart p{
		font-size: 0.8em;
	}
}
@media screen and (max-width:53.125em){// 850px / 16 = 53.125
	#Intro{
		//height:150vh !important;
	}
	.topPart{
		height:25vh;
	}
	.bottomPart{
		height:84vh;
	}
	.perspective{
		width:48.5%;
		height:42vh;
		&:nth-child(2n+1){
			float:left;
		}
		&:nth-child(2n+2){
			border:none;
		}
		.carve h3{
			font-size: 0.8em;
		}
		.shelterWrapper{
			&.free{
				@include perspective-origin(100% 250px);
			}
			&.bel{
				@include perspective-origin(0 250px);
			}
			&.Ihope{
				@include perspective-origin(100% 250px);
			}
		}
	}
	.cube{
		&.believe{
			margin-left:30%;
		}
		&.hope{
			margin-left:30%;
		}
		&.frontEnd{
			margin-left: 30%;
		}
		&.graduated{
			margin-left:30%;
		}
	}
}
@media screen and (max-width:40.625em){// 650px / 16 = 40.625
	.topPart p{
		font-size: 0.7em;
	}
	.cube{
		&.believe{
			margin-left:25%;
		}
		&.hope{
			margin-left:30%;
		}
		&.frontEnd{
			margin-left: 30%;
		}
		&.graduated{
			margin-left:25%;
		}
	}
}
@media screen and (max-width:31.25em){// 500px / 16 = 40.625
	.topPart{
		height:26vh;
	}
	.bottomPart{
		height: 136vh;
	}
	.perspective{
		width:95%;
		height:34vh;
		border:none;
		&:nth-child(2n+2){
			border:none;
		}
		.carve h3{
			font-size: 0.8em;
		}
		.shelterWrapper{
			&.gra{
				@include perspective-origin(50% 250px);
			}
			&.free{
				@include perspective-origin(50% 250px);
			}
			&.bel{
				@include perspective-origin(50% 250px);
			}
			&.Ihope{
				@include perspective-origin(50% 250px);
			}
		}
	}
	.cube{
		&.believe{
			margin-left:34.5%;
		}
		&.hope{
			margin-left:34.5%;
		}
		&.frontEnd{
			margin-left:34.5%;
		}
		&.graduated{
			margin-left:34.5%;
		}
	}
}
@media screen and (max-width:22.5em){//360px / 16 = 22.5
	#Intro .contentWrap h1{
		font-size:2em;
		//height:250vh !important;
	} 
	.topPart{
		height:40vh;
	}
	.perspective{
		height:50vh;
	}
	.bottomPart{
		height:200vh;
	}
	.cube{
		&.believe{
			margin-left:28%;
		}
		&.hope{
			margin-left:28%;
		}
		&.frontEnd{
			margin-left: 28%;
		}
		&.graduated{
			margin-left:28%;
		}
	}

}


