/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$bg_About: #9EE0FF;//rgba(204,100,100,1);//#000;
$speech_bubble_border:#fff;//rgba(204,100,100,1);
$bg_Projects:#ffe440;//dfdc1e;//ffec5d;//#FFBF00;//url('images/profile.JPG');//rgba(252,200,200,1);
$bg_Contact:#9EE0FF;//#b2e6ff;//#73d1ff;//;//#BAE8E8;//#e68e8e;//rgba(204,100,100,1);
$bg_like:#F16c97;
$bg_Blog:#99d11c;//#8cdb00;//#82cc00;//#99d11c;this one is ok;//bef13c;//#7fd0d0;
$bg_intro:#fff;
$smielFace: #e9b03d;//rgba(222, 99,99,1);
$Cloud:#fff;//#7fd0d0;//#00acFF;//#40C1FF;
$Button:#78A632;
$formText:#666666;
$smileBorder:2px solid $bg_like;

@import "compass/reset";
@import "compass";
@import "compass/css3/box-sizing";
@import "animation";
//@import "compass/css3/background";
@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	    -ms-border-radius:$radius;
	     -o-border-radius:$radius;
	        border-radius:$radius;
}
@mixin border-radius-part($part, $radius){
	//border-radius-mixin for part of the box
	// it could be: bottom-left, top-right...
	-webkit-border-#{$part}-radius:$radius;
	   -moz-border-#{$part}-radius:$radius;
	    -ms-border-#{$part}-radius:$radius;
	     -o-border-#{$part}-radius:$radius;
	        border-#{$part}-radius:$radius;
}
@mixin animation-play-state($state) {
    -o-animation-play-state: $state;
    -moz-animation-play-state: $state;
    -webkit-animation-play-state: $state;
    animation-play-state: $state;
}
/********************************************** Framework ****************************************/
html,body{
font-family: "proxima nova light","Helvetica Neue",Helvetica,Arial,Sans-serif;
height:100%;
font-size:100%;
}

.conatiner{
	width:100%;
	height:100%;
}
#header{
	height:100%;
	position:fixed;
	width:7%;
	/*text-align: center;*/
	color: #fff;
	//position: fixed;
	z-index: 6;
	float:left;	
	background:transparent;//#600;//#924032;
	height:100%;
	font-family:'Roboto Slab', serif;
	overflow:hidden;
	@include box-sizing(border-box);
	opacity:0.2;
	&:hover{
		opacity: 0.7;
	}
	#nav{
		a{
			text-align: center;
			padding-top:1em;
			font-family: "proxima nova light","Helvetica Neue",Helvetica,Arial,Sans-serif;
			display:block;
			width:100%;
			height:1.5em;
			color: #fff;
			text-decoration:none;
			@include border-radius(0.2em);
			&:hover{
				background:#eee;
				opacity: 1;
				color:#fff;
			}
			&.active{

				background:#ddd;
			}
		}
	} 
}

.content{
	width: 100%;
	overflow:scroll;
	.scroll{
		overflow: hidden;
		.main{
			font-size:1.5em;
			//1em = 1 * 1.5 * 16 = 24px; 2424px/1338px = 5.38%
			/*text-align: center;*/
			//background: #600;//#EFFF96;//#FFF8EA;//#FFFD7F; //#F2E0E1;
			//border-bottom: 1px solid gray;
			@include box-sizing(border-box);
			.row{	
				position:relative;
				height:100%;
				.rotate{
					-webkit-transform-origin: center;
					-moz-transform-origin:center;
				}
				.contentWrap{
					//overflow: hidden;
					padding-top:1em;
					padding-bottom:1em;
					height:100%;
					width:90%;
					position:relative;
					margin-left:auto;
					margin-right:auto;
					@include box-sizing(border-box);
					//text-align: center;
				}
			}
		}
	
	
	
	}
}
/****************************************************** About *******************************************/
@import "About";
/*************************************************** Intro *****************************************/
@import "Intro.scss";
/********************************************** More About Me ***************************************/
@import "MoreAboutMe.scss";
/*
	face{
		height:100%;
		z-index:10;
		float:left;
		position:relative;
		display:inline-block;
		//margin-left: auto;
		//margin-right: auto;
		//width:30%;
		background:#fff;//#7fd0d0;
		//use border to have the shape of face;
		border:2px solid $bg_like;
		@include border-radius(0.2em);
		@include box-sizing(border-box);
	}
	$smileBorder:2px solid $bg_like;
	.eye{
	// half circle: width = 2 * height and border-radius = width
		/*
		position:absolute;//doesn't take palces
		//display:inline-block;
		width:13%;

		// height and border-radius are set in setting.js 
		// use border to get the shape of eye
		border:#{$smileBorder};
		border-bottom:0px;
		top:15%;
		background:transparent;
		&.leftEye{
			left:23%;
		}
		&.rightEye{
			left:55%;
		}
		position:absolute;
		top:15%;
		width:10%;
		height:20%;
		background:#000;
		&.leftEye{
			left:28%;
		}
		&.rightEye{
			left:55%;
		}
	}

	.mouths{
		width:30%;
		margin-left:auto;
		margin-right:auto;
		top:58%;
		//if don't want to ruin the size of a container, use position absolute for
		// it's child element cause in that case they don't take any place;
		position:relative;
		@include transform(rotate(180deg));
		//@include box-sizing(border-box);
		//$smileBorder:2px solid $bg_like;
		//border: #{$smileBorder};
		border-bottom:none;
		//@include box-sizing(border-box);
		overflow:hidden;
	}*/
/*Currently working smile faces	
.faces{
		z-index: 2;
		width: 100%;
		height: 10%;
		background:inherit;
		position: relative;
		//text-align:center;
}
#faces3{
	//background:#ffb2b2;
	.smile{
		float:right;
		background:#fff;
	}
	//float:right;
}
.smile, .upset{
	//absolute doesn't take position in the container
	// static and relative does. so the 'top' and 'left' are 
	// relative to the first element that is position static.
	z-index:10;
	position:relative;
	float:left;
	margin-left: auto;
	margin-right: auto;
	//width:30%;
	background:#fff;//#7fd0d0;
	//use border to have the shape of face;
	border: #{$smileBorder};
	@include border-radius(1em);
	@include box-sizing(border-box);
	//@include border-radius-part(top-left, 50%);
	//@include border-radius-part(bottom-right, 50%);
}
.eye{
	// half circle: width = 2 * height and border-radius = width
	position:absolute;//doesn't take palces
	width:12%;
	// height and border-radius are set in setting.js 
	// use border to get the shape of eye
	border: #{$smileBorder};
	border-bottom:0px;
	top:15%;
	background:transparent;
}
.left{
	left:28%;
}
.right{
	left:55%;
}
.mouth{
	
	width:51%;
	margin:auto;
	//if don't want to ruin the size of a container, use position absolute for
	// it's child element cause in that case they don't take any place;
	position:relative;
	
	//background:#e9b03d;
	border: #{$smileBorder};
	//@include box-sizing(border-box);
	overflow:hidden;
	.teeth{
		position:relative;
		width:100%;
		height:100%;
		left:-6%;
	}
	.teeth li:nth-child(-n + 5){
		height: 100%;
		width:16%;
		float:left;
		list-style: none;
		border-right:#{$smileBorder};
		//border-bottom:#{$smileBorder}; // teeth or not
	}
}
.smile{
	.mouth{
		top:55%;
		@include transform( rotateZ(180deg) );
	}
}
/*
seems like not usefull
.upset{
	.eye{
		width:10%;
		border-radius:0;
		top: 10%;
		@include transform(rotateX(180deg));
	}
	.mouth{
		top:80%;
		left:50%;
		border-bottom:30px;
		width:20%;
		@include transform( rotateZ( 5deg ));
	}
	.left{
		left:27%;
	}
	.right{
		left:50%;
	}
}*/
/* smile face and upset face roatetion animation
but I sitll couldn't figure it out why reverse doesn't work
example: @include animation('upsetEye 5s reverse forwards');-- not working
*/
/*
.upsetEye{
	@include animation('upsetEye 1s forwards');
	@include transform-origin(50% 50% 0);
}
.upsetEye_right{
	@include animation('upsetEye_right 1s 0.2s forwards');
}
.upsetMouth{
	@include animation('upsetMouth 1s 1.6s forwards');
	@include transform-origin(50% 50% 0);
}
.smileEye{
	
	@include animation('smileEye 1s forwards');
	@include transform-origin(50% 50% 0);
}
.smileEye_right{
	@include animation('smileEye_right 1s forwards');
	@include transform-origin(50% 50% 0);
}
.smileMouth{
	@include animation('smileMouth 1s forwards');
	@include transform-origin(50% 50% 0);
}
.changeFace{
	@include animation('changeFace 3s forwards');
	@include transform-origin(center center 0);
}*/
/***********************************************  Projects ****************************************/
@import 'Experiments';
/***************************************************** Blog **********************************/
@import 'Blog';


/************************************************* Contact ********************************************/
@import 'Contact';
/*$inputLable:#78A632;
$formTitle:#558c00;
#Contact{
	//overflow:scroll;
	& h1{
		float:left;
	}
.clouds{
	overflow:hidden;
	height:14%;
	background:inherit;
	position:relative;
	padding-bottom:2%;
	.cloud{
		margin-left:5%;
		position:relative;
		top:68%;
		width:17%;
		min-width: 100px;
		height:45%;
		//@include border-radius(50%);
		background:$Cloud;
		@include box-shadow(0px 5px 25px 0px lightgray);
		.cloudPart1, .cloudPart2{
			@include border-radius(100%);
			background:inherit;
			position: absolute;
		}
		.cloudPart1{
			top:-70%;
			width:35%;
			left:13%;
		}
		.cloudPart2{
			// the Bigger part of cloud
			top:-103%;
			width:50%;
			left:37%;
		}
	}
}
.icons{
	width:30%;
	height:auto;
	background:inherit;
	position:relative;
	margin:auto;
	& a{
		//float:left;
		position:relative;
		height:auto;
		overflow:hidden;
		}
	& a:nth-child(1){
		margin-right:35%;
	}
	& a:nth-child(3){
		float:right;
	}
}
.dialog{
	top:0px;
	right:0px;
	position:absolute;
	float:right;
	color:$formText;
	width:55%;
	margin:auto;
	font-size:0.9em;
	z-index:1;
	padding-top:3%;
	padding-right:3%;
	border:none;
}
.form{
	@include box-sizing(border-box);
	@include border-radius(0.3em);
	padding:2% 2% 5% 2%;
	background:#fff;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-top:5%;
	color:$formTitle;//color for form main title //#707070;

}
#contactForm{
	width:90%;
	margin:auto;
	margin-top:3%;
	position:relative;
	background:#fff;
	color:$inputLable// color for input and textare label
}
.input{
	width:45%;
	float:left;
	overflow:hidden;
	margin-right:7%;
	& input{
		@include box-sizing(border-box);
		@include border-radius(0.3em);//5px / 16px = 0.3
		border:2px solid lightgray;
		height:1.8em;
		width:100%;
		font-size: 0.9em;
		color:$formText;// color for input content
	}
	& input:focus, & input:invalid {
		//use this to prevent the red border in firefox
    	box-shadow:none !important;
	}
	.second{
		margin-top:8%;
	}
		
}
.message{
	overflow:hidden;
	float:50%;
	//margin-top:10%;
	& textarea{
		font-size:0.9em;
		width:98%;
		@include box-sizing(border-box);
		@include border-radius(0.3em);
		border:2px solid lightgray;
		resize:vertical;//the textare can only resize vertically.not horizontally.
		color:$formText;
	}

	& textarea:focus, & textarea:invalid {
		//use this to prevent the red border in firefox
    	box-shadow:none !important;
	}
}
.error{
	@include box-sizing(border-box);
	color:orange;
	font-size:0.6em;
	font-weight:light;
}
.contactButton{
	float:right;
	width:43%;
	font-size:1em;
	color:#fff;
	background:$Button;
	border:3px solid #88b542;
	border-bottom-color:#486c10;//#78A632;//#629D30;almost like the btn bg
	@include border-radius(1em);//20px / 16px = 1.25
	margin-top:13%;
	margin-right:10%;
	//box-shadow:
	//@include box-shadow(4px 2px 3px 3px lightgray);
	&:hover{
		border-color:#486c10;
		//border-bottom-color:#A4E8E8
	}
}
.alertBox{
	position:absolute;
	top:0;
	z-index:5;
	width:100%;
	height:100%;
	background:rgba(255,225,255,0.5);
	& div{
		color:#78A632;
		opacity:1;
		top:25%;
		width:90%;
		height:70%;
		padding:5% 3%;
		background:white;
		margin:auto;
		position:relative;
		@include border-radius(0.625em);// 10 / 16px = 0.625
		@include box-sizing(border-box);
		text-align: center;
	}
	.contactButton{
		//background:orange;
		//color:white;
		width:15%;
		//border-color:white;
	}
}
}*/


