/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$bg_About: #A60026;//rgba(204,100,100,1);//#000;
$speech_bubble_border:#fff;//rgba(204,100,100,1);
$bg_Projects:#ffe440;//dfdc1e;//ffec5d;//#FFBF00;//url('images/profile.JPG');//rgba(252,200,200,1);
$bg_Contact:#9EE0FF;//#b2e6ff;//#73d1ff;//;//#BAE8E8;//#e68e8e;//rgba(204,100,100,1);
$bg_like:#F16c97;
$bg_Blog:#99d11c;//#8cdb00;//#82cc00;//#99d11c;this one is ok;//bef13c;//#7fd0d0;
$bg_intro:#fff;
$smileBorder:3px solid #000;//rgba(222, 99,99,1);
$smielFace: #e9b03d;//rgba(222, 99,99,1);
$Cloud:#fff;//#7fd0d0;//#00acFF;//#40C1FF;
$Button:#78A632;
$formText:#666666;


@import "compass/reset";
@import "compass";
@import "compass/css3/box-sizing";
@import "animation";
//@import "compass/css3/background";
@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	   -moz-border-radius:$radius;
	    -ms-border-radius:$radius;
	     -o-border-radius:$radius;
	        border-radius:$radius;
}
@mixin border-radius-part($part, $radius){
	//border-radius-mixin for part of the box
	// it could be: bottom-left, top-right...
	-webkit-border-#{$part}-radius:$radius;
	   -moz-border-#{$part}-radius:$radius;
	    -ms-border-#{$part}-radius:$radius;
	     -o-border-#{$part}-radius:$radius;
	        border-#{$part}-radius:$radius;
}
@mixin animation-play-state($state) {
    -o-animation-play-state: $state;
    -moz-animation-play-state: $state;
    -webkit-animation-play-state: $state;
    animation-play-state: $state;
}
/********************************************** Framework ****************************************/
body{
font-family: "proxima nova light","Helvetica Neue",Helvetica,Arial,Sans-serif;
height:100%;
}
.conatiner{
	width:100%;
	height:100%;
}
#header{
	width:7%;
	/*text-align: center;*/
	color: #fff;
	//position: fixed;
	z-index: 2;
	float:left;	
	background:#70161D;//#600;//#924032;
	height:100%;
	font-family:'Roboto Slab', serif;
	overflow:hidden;
	@include box-sizing(border-box);
	/*&:hover{
		width:7%;
		background:rgba(22,22,22,1);
	}*/
	#nav{
		a{
			font-family: "proxima nova light","Helvetica Neue",Helvetica,Arial,Sans-serif;
			display:block;
			width:100%;
			height: 2em;
			color: #FDE7EF;
			text-decoration:none;
			&:hover{
				background:#924032;
				opacity: 1;
				color:#fff;
			}
			&.active{
				background: #924032;
			}
		}
	} 
}

.content{
	width: 93%;
	overflow:scroll;
	.scroll{
		overflow: hidden;
		.main{
			font-size:1.5em;
			//1em = 1 * 1.5 * 16 = 24px; 2424px/1338px = 5.38%
			/*text-align: center;*/
			//background: #600;//#EFFF96;//#FFF8EA;//#FFFD7F; //#F2E0E1;
			border-bottom: 1px solid gray;
			@include box-sizing(border-box);
			.row{	
				position:relative;
				height:100%;
				.rotate{
					-webkit-transform-origin: center;
					-moz-transform-origin:center;
				}
				.contentWrap{
					//overflow: hidden;
					height:100%;
					width:100%;
					padding:0;
					position:relative;
					//text-align: center;
				}
			}
		}
	#About{
		background:$bg_About;//#924032;//#600;//#EFFF96;//#FFF8EA;//#FFFD7F; //#F2E0E1;
		text-align:center;
		h1{
			font-size:4em;
			color:$speech_bubble_border;//#F2F2F2;
			//margin-bottom: 0.5em;
		}
		p{
			font-size:1em;
			color:#F2F2F2;
			margin:0.5em 0em;
		}
	}
	#Intro{
		background:$bg_intro;
		h1{
			font-size:2.5em;
			//margin-bottom: 0.5em;
		}
		h2{
			font-size: 1.5em;
		}
		h3{
			font-size: 1em;
		}
	}
	#MoreAboutMe{
		background:$bg_like;
		h1{
			font-size:2.5em;
			margin-bottom: 0.5em;
			color: #fff;
		}
		h2{
			font-size: 1.5em;
			color: #fff;
		}
	}
	#Experiments{
		//@include background-image(linear-gradient(top left,$bg_like,$bg_Projects, $bg_Contact));//$bg_Projects;
		@include background-image(linear-gradient(top left,$bg_Projects,$bg_Contact, $bg_like));//$bg_Projects;
		h1{
			font-size:2.5em;
			color:#fff;
			margin-bottom:3%;
		}
	}
	#Blog{
		//@include background-image(linear-gradient(top, #011e35, #ccc 35%, $bg_Contact 85%, #011e35));//#234f32;//$bg_Blog;
		@include background-image(linear-gradient(top,  #009b95, #e1004c 17%, $bg_Projects 89%, $bg_Contact));
		h1{
			font-size:2.5em;
			margin-bottom: 0.5em;
			color:#fff;
		}
		h2{
			font-size:1.5em;
		}
	}
	#Contact{
		background:$bg_Contact;
		h1{
			font-size:2.5em;
			color:#FFF;//#3F6399;//#629D30;
			margin-bottom: 0.5em;
		}
		h2{
			font-size:1.3em;
		}
		h3{
			font-size: 1em;
		}
	}
	}
	
}
/****************************************************** About *******************************************/
#profile{
	position:relative;
	margin-right:auto;
	margin-left:auto;
	width:30%;
	//padding-bottom = width, can make circle responsive
	padding-bottom:30%;
	background: url('/static/images/profile.JPG') no-repeat;
	background-position: 38% 50%;
	@include border-radius(50%);
	box-shadow: 0px 0px 20px 0px #fff;
	&:after{
		// this is the white shadow around the picture
		position: absolute;
		content: '';
		width:100%;
		height:100%;
		top:0;
		left:0;
		@include border-radius(50%);
		// gradient but don't know where to import...
		@include background-image(radial-gradient(50% 50%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%));
	}
}
#speech_bubble{
	// use before and after to create
	// those arror on the left
	// center an element: margin-left and margin-right both be auto;
	margin-left: auto;
	margin-right:auto;
	position:relative;
	width:70%;
	height: 6em;
	top: 2em;
	border:5px solid $speech_bubble_border;
	padding:1em;
	@include box-sizing(border-box);
	@include border-radius(0.8em);// 20px / 1.5 * 16 = 5 / 6
	z-index:2;
	&:before, &:after{
		content: '';
		position:absolute;
		left:-46px;//-5.25%;
		top:1.5em;
		width:1.5em;
		border-bottom-left-radius: 100%;
		border-left: 5px solid $speech_bubble_border;
		border-bottom:5px solid $speech_bubble_border;
		background: transparent;
		/* no rotate version
		transform-origin: 0 0;
		transform: rotate(-45deg);*/
	}
	&:before{
		border-right:5px solid $speech_bubble_border;
		height:1em;
		z-index:3;
	}
	&:after{
		// the bigger curve.
		border-right:5px solid $bg_About;
		height:2em;
		z-index: 1;
	}
}
#speech_bubble_arrowup{
	// use before and after to create
	// those arror on the left
	// center an element: margin-left and margin-right both be auto;
	margin-left: auto;
	margin-right:auto;
	position:relative;
	width:70%;
	height: 6em;
	top: 4em;
	border:5px solid $speech_bubble_border;
	padding:1em;
	@include box-sizing(border-box);
	@include border-radius(0.8em);// 20px / 1.5 * 16 = 5 / 6
	z-index:1;
	&:before, &:after{
		content: '';
		position:absolute;
		top:-10px;
		width:0px;
		height:0px;
	}
	&:before{
		top:-31px;
		left:434px;
		border-left: 31px solid transparent;
		border-right:31px solid transparent;
		border-bottom: 31px solid $bg_About;
		z-index: 3;
	}
	&:after{
		top:-40px;
		left:425px;
		border-left: 40px solid transparent;
		border-right:40px solid transparent;
		border-bottom:40px solid $speech_bubble_border;
		z-index:2;
	}
}
/*************************************************** Intro *****************************************/

$bg_gradHope:#eee;//#83dd00;lightgreen//#F16c97;lightpink
$bg_freeBeli:#ddd;//#406c00;//#ab0164;//#83dd00;//#aaff00;
$cubeLight1:#7acc00;
$cubeLight2:#F16c97;//pink
$cubeDark1:#406c00;
$cubeDark2:#bb2e5b;//#9d234a;//#e3e300;//#ab0164;//780046;//pink
$cubeBottom1:#2a4600;
$cubeBottom2:#780046;//#cfcf00;//#4e002e;//darkpink
$shelter:#fdd1e0;
@mixin cubeColor($light, $dark, $bottom, $color){
	.cubeFront{
		color:$color;
		background:$light;
	}
	.cubeTop{
		background:$dark;//$bg_Projects;
	}
	.cubeRight{
		background:$dark; //#3380a6;
	}
	.cubeLeft{
		background:$dark;//$bg_Projects;
	}
	.cubeBack{
		color:$color;
		background:$light;
	}
	.cubeBottom{
		background:$bottom;//$bg_Projects;
	}
}
#Intro{
	.contentWrap{
		@include perspective(800px);
		& h1{
			color:$cubeLight2;
		}
	}
}
.left{
	float:left;
	display:inline-block;
	width:23%;
	height:100%;
}
.middle{
	position:relative;
	font-size:0.9em;
	padding:5% 5% 0 5%;
	text-align:center;
	width:53.4%;
	height:100%;
	display:inline-block;
	line-height:1.8em;
	color:#444;//#558c00;
	background:#fff;
	//@include background-image(radial-gradient(center center, $bg_Contact, $bg_Projects, $cubeLight2) );
	@include box-sizing(border-box);
	//border: 2px solid #558c00;
	
	border-top:2px solid #666;
	border-bottom:2px solid #666;
}
.right{
	float:right;
	width:23%;
	height:100%;
	display:inline-block;
}
.perspective{
	position:relative;
	width:100%;
	height:50%;
	text-align:center;
	color:#444;
	overflow:hidden;
	.introShlter{
		position:absolute;
		height:100%;
		width:100%;
		left:-100%;
		top:0px;
		background:$shelter;
		z-index:100;
		opacity:1;
	}
	.carve{
		padding-top:10%;
		margin-bottom:10%;
	}
	&.gra{
		@include box-shadow(14px 4px 2px 2px #666);
		display:inline-block;
		//background:$bg_Projects;
		@include background-image(linear-gradient(left top, $bg_Contact , $bg_Projects) );
		@include perspective-origin(0% 380px);
		@include perspective(800px);
		//@include transform(rotateY(90deg));
	}
	&.free{
		@include box-shadow(-4px 4px 2px 2px #666);
		display:inline-block;
		//background: $bg_Contact;
		@include background-image(linear-gradient(right top, $bg_Contact , $bg_Projects) );
		@include perspective-origin(100% 380px);
		@include perspective(800px);
	}
	&.bel{
		@include box-shadow(4px -4px 2px 2px #666);
		//display:inline-block;
		@include background-image(linear-gradient(left bottom, $bg_Contact , $bg_Projects) );
		@include perspective-origin(0% 340px);
		@include perspective(800px);
	}
	&.Hope{
		@include box-shadow(-4px -4px 2px 2px #666);
		display:inline-block;
		float:right;
		@include background-image(linear-gradient(right bottom, $bg_Contact , $bg_Projects) );
		@include perspective-origin(100% 340px);
		@include perspective(800px);
	}
}
/*
.cube {
	@include animation(spin 8s infinite linear);
}*/
$cubeWidth:160px;
.cube{
	font-size:0.7em;
	margin-left:20%;
	margin-top:15%;
	position:relative;
	float:left;
	height:$cubeWidth;
	width:$cubeWidth;//ifchange width, change translateZ of cubeFront too!
	text-align:center;
	//@include box-shadow(0px 3px 2px 0px #666);
	@include transform-style(preserve-3d);
	& div{
		color:#fff;
		line-height:1.8em;
		width:100%;
		height:100%;
		position:absolute;
		padding:8% 3% 5% 3%;
		//opacity:0.9;
		@include box-sizing(border-box); 
		@include border-radius(0.2em);
	}
	.cubeFront{
		//@include transform(scaleZ(150%));
		@include transform(translateZ(0.5 * $cubeWidth));/* should be half width,but percentage doesn't work on translateZ */
	}
	.cubeTop{
		@include transform(rotateX(-90deg) translateY(-0.5 * $cubeWidth));// percentage related to width
		//@include translateY(-100px);
		@include transform-origin(top center 0 );
	}
	.cubeRight{
		@include transform(rotateY(-270deg) translateX(0.5 * $cubeWidth));
		//@include translateX(100px);
		@include transform-origin(top right 0 );
	}
	.cubeLeft{
		@include transform(rotateY(270deg)  translateX(-0.5 * $cubeWidth));
		@include transform-origin(center left 0 );
	}
	.cubeBottom{
		@include transform(rotateX(90deg) translateY(0.5 * $cubeWidth));
		@include transform-origin(bottom center 0);
	}
	.cubeBack{
		@include transform( translateZ(-0.5 * $cubeWidth) rotateY(180deg) );
	}
	&.graduated{
		// yellow cube
		& div{
			padding-top:25%;
			}
		//@include cubeColor($cubeLight2, $cubeDark2, $cubeBottom2, #000);
		@include cubeColor($cubeLight2, $cubeDark2, $cubeBottom2, #fff);
		@include animation(spin 40s infinite linear);
	}
	&.frontEnd{
		// blue cube
		& div{
			padding-top:20%;
		}
		margin-left:30%;
		@include cubeColor($cubeLight2, $cubeDark2, $cubeBottom2, #fff);
		@include animation(spin 40s  2s infinite linear);
	}
	&.believe{
		// yellow cube
		& div{
			padding-top:40%;
		}
		
		@include animation(spin 40s  4s infinite linear);
		@include cubeColor($cubeLight2, $cubeDark2, $cubeBottom2, #fff);
	}
	&.hope{
		// blue cube
		& div{
			padding-top:20%;
		}
		margin-left:30%;
		@include cubeColor($cubeLight2, $cubeDark2, $cubeBottom2, #fff);
		//@include cubeColor($cubeLight1, $cubeDark1, $cubeBottom1,  #fff);
		@include animation(spin 40s 6s infinite linear);
	}
}
.introShlter{
	&.in_top{
		@include animation('intro_in_top 1s forwards');
	}
	&.in_right{
		@include animation('intro_in_right 1s forwards');
	}
	&.in_bottom{
		@include animation('intro_in_bottom 1s forwards');
	}
	&.in_left{
		@include animation('intro_in_left 1s forwards');
	}
	&.out_top{
		@include animation('intro_out_top 1s forwards');
	}
	&.out_bottom{
		@include animation('intro_out_bottom 1s forwards');
	}
	&.out_left{
		@include animation('intro_out_left 1s forwards');
	}
	&.out_right{
		@include animation('intro_out_right 1s forwards');
	}
}

/********************************************** Like or dislike ***************************************/
.likeContainer{
	height:100%;
	width:auto;
	background:inherit;
	padding-top:2%;
	@include box-sizing(border-box);
	.options_wrap{
		height:65%;
		opacity: 0.5;
		@include perspective(500px);
		.options{
			float:left;
			width:50%;
			height:100%;
			text-align: center;
			//@include transform(rotateX(35deg));
			overflow: scroll;
			.like, .dislike{
				float:left;
				margin: 5%;
			}
		}
	}
.faces{
		z-index: 2;
		width: 100%;
		height: 10%;
		background:inherit;
		position: relative;
		//text-align:center;
}
#faces3{
	//background:#ffb2b2;
	.smile{
		float:right;
		background:#c3df8a;
	}
	//float:right;
}
.smile, .upset{
	//absolute doesn't take position in the container
	// static and relative does. so the 'top' and 'left' are 
	// relative to the first element that is position static.
	z-index:10;
	position:relative;
	float:left;
	margin-left: auto;
	margin-right: auto;
	//width:30%;
	background:$smielFace;//#7fd0d0;
	//use border to have the shape of face;
	border: #{$smileBorder};
	@include border-radius(50%);
	@include box-sizing(border-box);
	//@include border-radius-part(top-left, 50%);
	//@include border-radius-part(bottom-right, 50%);
}
.eye{
	// half circle: width = 2 * height and border-radius = width
	position:absolute;/*doesn't take palces*/
	width:12%;
	// height and border-radius are set in setting.js 
	// use border to get the shape of eye
	border: #{$smileBorder};
	border-bottom:0px;
	top:15%;
	background:transparent;
}
.left{
	left:28%;
}
.right{
	left:55%;
}
.mouth{
	
	width:51%;
	margin:auto;
	//if don't want to ruin the size of a container, use position absolute for
	// it's child element cause in that case they don't take any place;
	position:relative;
	
	//background:#e9b03d;
	border: #{$smileBorder};
	//@include box-sizing(border-box);
	overflow:hidden;
	.teeth{
		position:relative;
		width:100%;
		height:100%;
		left:-6%;
	}
	.teeth li:nth-child(-n + 5){
		height: 100%;
		width:16%;
		float:left;
		list-style: none;
		border-right:#{$smileBorder};
		//border-bottom:#{$smileBorder}; // teeth or not
	}
}
.smile{
	.mouth{
		top:55%;
		@include transform( rotateZ(180deg) );
	}
}
/*
seems like not usefull
.upset{
	.eye{
		width:10%;
		border-radius:0;
		top: 10%;
		@include transform(rotateX(180deg));
	}
	.mouth{
		top:80%;
		left:50%;
		border-bottom:30px;
		width:20%;
		@include transform( rotateZ( 5deg ));
	}
	.left{
		left:27%;
	}
	.right{
		left:50%;
	}
}*/
/* smile face and upset face roatetion animation
but I sitll couldn't figure it out why reverse doesn't work
example: @include animation('upsetEye 5s reverse forwards');-- not working
*/
.upsetEye{
	@include animation('upsetEye 1s forwards');
	@include transform-origin(50% 50% 0);
}
.upsetEye_right{
	@include animation('upsetEye_right 1s 0.2s forwards');
}
.upsetMouth{
	@include animation('upsetMouth 1s 1.6s forwards');
	@include transform-origin(50% 50% 0);
}
.smileEye{
	
	@include animation('smileEye 1s forwards');
	@include transform-origin(50% 50% 0);
}
.smileEye_right{
	@include animation('smileEye_right 1s forwards');
	@include transform-origin(50% 50% 0);
}
.smileMouth{
	@include animation('smileMouth 1s forwards');
	@include transform-origin(50% 50% 0);
}
.changeFace{
	@include animation('changeFace 3s forwards');
	@include transform-origin(center center 0);
}
}
/***********************************************  Projects ****************************************/
$description:#696969;
$loadButton:#99d11c;//#f13c76;pink
$buttonBorder:#bae847;//#639500;//#F16c97;
$captionTag:#78A632;//#99d11c;//
$captionTitle:#558c00;//#639500;//#80c100;//$loadButton;
$buttonBottemBdr:#537d00;
$proBrdRds:0.3em;
#Experiments{
	.row{
		margin:auto;
	}
}
.projectWrapper{
	@include background-image(linear-gradient(top left,$bg_Projects,$bg_Contact, $bg_like));//rgba(255,255,255,0.2);
	width:90%;
	margin:auto;
	//margin-top:3%;
	text-align:center;
	@include box-shadow(3px -3px 3px 3px #666);
}
.projectFoot{
	position:absolute;
	background:transparent;
	//@include background-image(linear-gradient(top left,$bg_Contact,$bg_Projects, $bg_like));//$bg_Projects;
	width:40%;
	display:inline-block;
	height:15%;
	right:7em;
	@include box-shadow(3px 0px -3px -3px #666);
	.dialog{
		position:relative;
		color:#666;
		width:100%;
		margin-top:2em;
		margin-left:2em;
		font-size:0.75em;
		padding:1%;
		line-height:1.1em;
		display:inline-block;
		background:#fdd1e0;//rgba(255,228,64, 0.5);
		@include box-shadow(2px -2px 3px 1px #666);
		//border-left:2px solid #ddd;
		//border-bottom:2px solid #ddd;
	}
}
.clip{
	z-index:2;
	position:relative;
	background:transparent; //inherit;//$loadButton;
	top:-1.4em;
	&:before{
		content:"";
		position:absolute;
		width:2em;
		height:1em;
		background:inherit;
		opacity:0.9;
		@include transform(rotate(-5deg));
		@include border-radius-part(top-right, 0.2em);
		@include border-radius-part(bottom-right, 0.2em);
		@include box-shadow(3px 3px 3px #666);
		border-top:2px solid rgba(255,255,255, 0.8);
		border-left:2px solid rgba(255,255,255, 0.8);
	}
	/*
	&:after{
		//the dot on the 
		content:"";
		position:absolute;
		width:6px;
		height:6px;
		background:#666;
		@include border-radius(100%);
		top:-0.3em;
		left:65%;

	}*/
}
.buttonWrap{
	position:absolute;
	left:0;
	bottom:1em;
	display:inline-block;
	//margin-top:3%;
	width:100%;
	@include perspective(400px);
	float:right;
	& div{
		width:50%;
		margin:auto;
		color:#fff;
	}
}
.loadButton{
	//button and input are not block element, so they can't be centered by margin-auto;
	margin:auto;
	display:inline-block;
	//margin-top:1em;
	position:relative;
	width:30%;
	font-size:1.1em;
	background:$loadButton;
	color:#fff;
	@include border-radius(0.8em);
	border: 3px solid $buttonBorder;
	border-bottom-color:$buttonBottemBdr;
	&:hover{
		border-color:$buttonBottemBdr;
	}
	&:before{
		content:'';
		position: absolute;
	}
}
.projects{
	float:left;
	width:21%;
	margin:2% 0 0 3%;
	//padding:14px 0 2px 0;
	&:nth-child(1){
			margin-left:5%;
	}
	
	&:nth-last-child(-n+3){
		margin-top:15%;
	}
	.description{
		box-shadow: 1px #f2f2f2;
		position:relative;
		width:100%;
		background-size: 100%;
		@include perspective(600px);
		@include border-radius-part(top-left, $proBrdRds);
		@include border-radius-part(top-right, $proBrdRds);
		@include box-sizing(border-box);
		// set the perspective on the parent element
		// so its child element can have different perspective on 3d transform animation!

		.proShelter{
			// if use position relative, .proShelter will take place,
			// so the description will be below the proShelter, not under it and covered by it.
			position:absolute;
			width:100%;
			height:50%;
			background-position: 5% 5%; // sequence: left top
			z-index:1;
			//max-width: 100%;
			//max-height: 100%;
			overflow: hidden;
			& img{
				max-width: 100%;
				max-width: 100%;
			}
		}
		.descrpt{
			//If you are trying to hide absolute positioned elements 
			//make sure the container of those absolute positioned elements 
			//is relatively positioned.
			// it also work the opposite way--container: absolute, child: relative
			position:absolute;
			overflow: hidden;
			height:50%;
			width:100%;
			background:#fff;//$bg_Projects;
			color:$description;
			// add padding but the "top" attribute for the down descrpt is still 100%;
			// do not use box-sizing(border-box) here. it will affect the effect we want
			opacity: 0.9;
			text-align: center;
			//@include box-sizing(border-box);
			& h3{
				margin-left:0.5em;
				margin-right: 0.5em;
				margin-top: 2em;
				line-height:1.2em;
				font-size: 0.9em;
			}

		}	

		.top, .top img{
			@include border-radius-part(top-left, $proBrdRds);
			@include border-radius-part(top-right, $proBrdRds); 
		}
		.down{
			top:50%;
			@include border-radius-part(bottom-left, $proBrdRds);
			@include border-radius-part(bottom-right, $proBrdRds); 
			& img{
				position:relative;
				top:-100%;
				@include border-radius-part(bottom-left, $proBrdRds);
				@include border-radius-part(bottom-right, $proBrdRds); 
			}
			& h3{
				position:relative;
				top:-100%;
			}
		}
		.in_top, .in_right{
			@include transform-origin(50%, 100%, 0 );
			@include animation('pro_in_top 0.5s forwards');
		}
		
		.in_bottom, .in_left{
			@include transform-origin(50%, 0, 0 );
			@include animation('pro_in_bottom 0.5s forwards');
		}
		.out_top, .out_right{
			@include transform(rotateX(90deg));
			@include transform-origin(50%, 100%, 0 );
			@include animation('pro_out_top 0.5s 0.3s forwards');
		}
		.out_bottom, .out_left{
			@include transform(rotateX(90deg));
			@include transform-origin(50%,0, 0 );
			@include animation('pro_out_bottom 0.5s 0.3s forwards');
		}
		.rotate_in_bottom, .rotate_in_left{
			@include transform(rotateX(-90deg));
			z-index: 1;
			opacity: 0;
			@include transform-origin(50%, 100%, 0 );
			@include animation('rotate_in_bottom 0.5s 0.3s forwards');
		}
		.rotate_in_top, .rotate_in_right{
			z-index: 1;
			opacity: 0;
			@include transform-origin(50%, 0, 0 );
			@include transform(rotateX(90deg));
			@include animation('rotate_in_top 0.5s 0.3s forwards');
		}
		.rotate_out_top, .rotate_out_right{
			z-index: 1;
			@include transform-origin(50%, 0, 0 );
			@include animation('rotate_out_top 0.5s forwards');
		}
		.rotate_out_bottom, .rotate_out_left{
			z-index: 1;
			@include transform-origin(50%, 100%, 0 );
			@include animation('rotate_out_bottom 0.5s  forwards');
		}
	}
	.caption{
			@include box-sizing(border-box);
			@include border-radius-part(bottom-left, 0.3em);
			@include border-radius-part(bottom-right, 0.3em);
			padding:5% 3% 0 3%;
			width:100%;
			background:#fff;
			text-align: center;
			& h3{
				color: $captionTitle;
				font-size: 0.75em;
				line-height: 2em;
			}
			& p{
				color:$captionTag;
				font-size:0.6em;
			}
	}
	
}
.rotateY{
		@include transform-origin(50%,50%,0);
		@include animation('rotateY 1.5s forwards');
}

.btnRotateY{
	@include transform-origin(50%,0,0);
		@include animation('btnRotateY 1.5s 0.5s forwards');
}

/***************************************************** Blog **********************************/
$btnBlogShots:#f86c99;
$btnBlogLink:#666;//#fcadc6;
#Blog{
	.row{
		.contentWrap{
			position:relative;
			@include perspective(800px);
			overflow: hidden;
		}

	}

	.slider{
		overflow: hidden;
		background: #fff;
		width:82%;
		line-height:2em;
		position:absolute;
		& ul{
			left:0;
			position:relative;
			height:100%;
			& li{
				height:100%;
				position:relative;
				float:left;
				& img{
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
		.btnCtrl{
			background:transparent;
			position:absolute;
			top:50%;
			height:4.4%;
			width:3%;
			overflow: hidden;
			border:none;
			
		}
		#prev{
				background:url('/static/images/gray_prev.png') no-repeat;
				background-position:0 100%;
				left:0;
				&:hover{
					background-position:0 0;
				}
		}
			#next{
				background:url('/static/images/gray_next.png') no-repeat;
				right: 0;
				background-position:0 100%;
				&:hover{
					background-position:0 0;
				}
			}
	}
	#sliderLeft{
		@include transform(translateX(-80.5%) rotateY(45deg) scale(0.8) translateY(7.8%));
		@include transform-origin(top right 0);
	}
	#sliderRight{
		@include transform(translateX(99.7%) rotateY(-35deg) scale(0.8) translateY(7.8%));
		@include transform-origin(top left 0);
	}
	#slicesWrapper{
		@include transform(scale(0.8) translateX(12%) translateY(-4.97%));
		.slice{
			position:relative;
			background:$bg_Blog;
			width:50%;
			height:100%;
			float:left;
			overflow: hidden;
			.dialogBox{
				//border:2px solid #F16c97;
				position:relative;
				width:100%;
				height:100%;
				overflow:scroll;
				background:#fff;
				@include border-radius(0.3em);
				@include box-sizing(border-box);
				padding:5% 8% 5% 8%;
				opacity:0.7;
				line-height:150%;
			}
		}
		.left{
			.dialogBox{
				left:50%;
			}
		}
		.right{
			.dialogBox{
				left:-50%;
			}
		}
	}
	.wrapper{
		position:absolute;
		width:25%;
		height:10%;
		&.blogshots{
			top:80%;
			left:27%;
		}
		&.bloglink{
			top:85%;
			right:28%;
		}
		.ribbon{
			position:relative;
			width:1.5em;
			height:0;
			border-width:0.8em 0.5em;
			border-color:$btnBlogShots $btnBlogShots $btnBlogShots transparent;
			border-style:solid;
			top:0.65em;
			left:-0.9em;
			z-index: 1;
			&.link{
				width:1em;
				top:0.6em;
				left:92%;
				border-color:$btnBlogLink transparent $btnBlogLink $btnBlogLink ;
			}
		}
	}
}
#blogShots{
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	font-size:1.1em;
	color:#fff;
	background:$btnBlogShots;
	//@include border-radius(0.3em);
	&:before{
		content: "Show Me";
		position:absolute;
		top:-1em;
		font-size: 0.7em;
		color:#696969;
		top:-1em;
		
	}
	&:after{
		content:"";
		width:0;
		height:0;
		position:absolute;
		border-width:0.3em 0.7em;
		border-color: #9d133f #9d133f transparent transparent;
		border-style:solid;
		top:103%;
		left:1px;
	}
}
#BlogLink{
	z-index:2;
	position:absolute;
	top:0;
	right:0;
	font-size:1em;
	color:#fff;
	background:$btnBlogLink;//#929292;
	&:before{
		content: "";
		position:absolute;
		width:0;
		height:0;
		border-width:0.3em 0.55em;
		border-color:#333 transparent transparent #333;
		bottom:-2px;
		right:-1px;
		top:105%;
		border-style:solid;
	}
	&:after{
		content:"In a new tab";
		position:absolute;
		font-size: 0.7em;
		color:#696969;
		top:-1em;
		right:0;
	}
}
/************************************************* Contact ********************************************/
$inputLable:#78A632;
$formTitle:#558c00;
#Contact{
	//overflow:scroll;
	& h1{
		float:left;
	}
.clouds{
	overflow:hidden;
	height:14%;
	background:inherit;
	position:relative;
	padding-bottom:2%;
	.cloud{
		margin-left:5%;
		position:relative;
		top:68%;
		width:17%;
		min-width: 100px;
		height:45%;
		//@include border-radius(50%);
		background:$Cloud;
		@include box-shadow(0px 5px 25px 0px lightgray);
		.cloudPart1, .cloudPart2{
			@include border-radius(100%);
			background:inherit;
			position: absolute;
		}
		.cloudPart1{
			top:-70%;
			width:35%;
			left:13%;
		}
		.cloudPart2{
			// the Bigger part of cloud
			top:-103%;
			width:50%;
			left:37%;
		}
	}
}
.icons{
	width:30%;
	height:auto;
	background:inherit;
	position:relative;
	margin:auto;
	& a{
		//float:left;
		position:relative;
		height:auto;
		overflow:hidden;
		}
	& a:nth-child(1){
		margin-right:35%;
	}
	& a:nth-child(3){
		float:right;
	}
}
.dialog{
	top:0px;
	right:0px;
	position:absolute;
	float:right;
	color:$formText;
	width:55%;
	margin:auto;
	font-size:0.9em;
	z-index:1;
	padding-top:3%;
	padding-right:3%;
	border:none;
}
.form{
	@include box-sizing(border-box);
	@include border-radius(0.3em);
	padding:2% 2% 5% 2%;
	background:#fff;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-top:5%;
	color:$formTitle;//color for form main title //#707070;

}
#contactForm{
	width:90%;
	margin:auto;
	margin-top:3%;
	position:relative;
	background:#fff;
	color:$inputLable// color for input and textare label
}
.input{
	width:45%;
	float:left;
	overflow:hidden;
	margin-right:7%;
	& input{
		@include box-sizing(border-box);
		@include border-radius(0.3em);//5px / 16px = 0.3
		border:2px solid lightgray;
		height:1.8em;
		width:100%;
		font-size: 0.9em;
		color:$formText;// color for input content
	}
	& input:focus, & input:invalid {
		//use this to prevent the red border in firefox
    	box-shadow:none !important;
	}
	.second{
		margin-top:8%;
	}
		
}
.message{
	overflow:hidden;
	float:50%;
	//margin-top:10%;
	& textarea{
		font-size:0.9em;
		width:98%;
		@include box-sizing(border-box);
		@include border-radius(0.3em);
		border:2px solid lightgray;
		resize:vertical;//the textare can only resize vertically.not horizontally.
		color:$formText;
	}

	& textarea:focus, & textarea:invalid {
		//use this to prevent the red border in firefox
    	box-shadow:none !important;
	}
}
.error{
	@include box-sizing(border-box);
	color:orange;
	font-size:0.6em;
	font-weight:light;
}
.contactButton{
	float:right;
	width:43%;
	font-size:1em;
	color:#fff;
	background:$Button;
	border:3px solid #88b542;
	border-bottom-color:#486c10;//#78A632;//#629D30;almost like the btn bg
	@include border-radius(1em);//20px / 16px = 1.25
	margin-top:13%;
	margin-right:10%;
	//box-shadow:
	//@include box-shadow(4px 2px 3px 3px lightgray);
	&:hover{
		border-color:#486c10;
		//border-bottom-color:#A4E8E8
	}
}
.alertBox{
	position:absolute;
	top:0;
	z-index:5;
	width:100%;
	height:100%;
	background:rgba(255,225,255,0.5);
	& div{
		color:#78A632;
		opacity:1;
		top:25%;
		width:90%;
		height:70%;
		padding:5% 3%;
		background:white;
		margin:auto;
		position:relative;
		@include border-radius(0.625em);// 10 / 16px = 0.625
		@include box-sizing(border-box);
		text-align: center;
	}
	.contactButton{
		//background:orange;
		//color:white;
		width:15%;
		//border-color:white;
	}
}
}


