<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
	<meta charset="uft-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="stylesheet" type="text/css" href="css/reset.css" media="screen">
	<link href="css1/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="lib/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="lib/angular/angular-animate.js"></script>
	<script type="text/javascript" src="js/animation.js"></script>
	<script type="text/javascript" src="js/portfolio.js"></script>
</head>
<body ng-controller="frameworkCtrl">
	<header id="header">
		<a href='#{{nav}}' ng-repeat="nav in navNames" ng-class="{active:isActive('/{{nav}}')}">{{nav}}</a>
	</header>
	<div class="content"  ng-controller="contentCtrl">
		<section class="main" ng-repeat="item in navNames" id="{{item}}" style="height: {{screenHeight}}px">
			<div class="row"><h1>{{item}}</h1></div>
		</section>
	</div>
</body>
</html>
