<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
<head>
	<meta charset="uft-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css" media="screen">
	<link href="{{STATIC_URL}}css1/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}css1/fontello-aef3b19b/css/fontello.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}lib/angular/angular1-0-8.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}lib/angular/angular-animate.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}lib/angular/angular-cookies.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/portfolio.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/service.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/setting.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/cloudMove.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/onScroll.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/directionAware.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/BlogAnimation.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/MoreAboutMe.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
</head>
<body ng-controller="contentCtrl">
	<div class="container">
		<header id="header">
			<nav id="nav">
				<h2><a ng-repeat="nav in navNames" ng-class="{active:isActive( '/' + nav )}" ng-click="menuClick( nav )">{$ nav $}</a><h2>
			</nav>
		</header>
		<div class="content"  ng-controller="contentCtrl" >
			<div class="scroll" >
				<section class="main" id="About" >
					<div class="row effOnScroll">
						<div class="contentWrap">
							<div id="profile"><img src="/static/images/profile.JPG"></div>
							<div id="speech_bubble_arrowup">
								<h1>Hey! I'm Guangyi</h1>
							</div>
						</div>
					</div>
				</section>
				<section class="main" id="Intro">
					<div class="row effOnScroll">
						<div class="contentWrap">
							<h1>About Me</h1><br>
							<div class="introWrapper">
								<div class="topPart">
									<p>	<br>
										I'm Guangyi, a recently graduated student, a Front-End Engineer<br><br>
										I'm looking for a Job<br><br>
										My Skill Set: HTML5 + CSS3 + SASS + Bootstrap<br><br>
										jQuery + AngularJS + Django + MongoDB<br><br>
									<!--My name is Guangyi, a front-end engineer. I'm looking for a front-end position to work on exciting projects with awesome people. This portfolio, I hope, will help me find the right job for me.<br>
									To keep up with the trand,this portfolio uses combination of HTML5, CSS3(Sass pre-processor), AngularJS, Django and MongoDB.fast-learning is a must-have skill.<br>
									I have to admit, as an entry level engineer, this is not perfect, But "perfection" is not the point. I just want to use this portfolio to demostrate to you, my future employer, what I'm capable of doing and what potential I have.More importantly, prove to myself, I like what I'm doing and I'm good at what I'm doing.<br>
									Check out each section to learn more detail! Thank you! -->
									</p>
								</div>
								<div class="bottomPart">
									<div class="perspective ">
										<div class="carve"><h3> I'm a student </h3></div>
										<div class="shelterWrapper gra">
											<div class="cube graduated">	
												<div class="cubeTop"></div>
												<div class="cubeRight">Always <br> work hard</div>
												<div class="cubeLeft">Master Degree <br> Major in C.S.</div>
												<div class="cubeBack">GPA≈3.7<br><span style="font-size:0.7em">Well,honestly 3.67 </span></div>
												<div class="cubeFront">Rencently Graduated</div>
												<div class="cubeBottom"></div>
											</div>
											<div class="introShlter">
												<p>Brandeis University<br> + <br> 
											Graduated in May 2013<br> + <br>Master in Computer Science<br> + <br> GPA=3.67</p>
											</div>
										</div>
									</div>
									<div class="perspective">
										<div class="carve"><h3>Front-End Engineer</h3></div>
										<div class="shelterWrapper free">
											<div class="introShlter">
												<p>HTML5 Sass CSS3 <br> + <br>JQuery/Javascript
												<br> + <br> Bootstrap AngularJS <br> + <br>Django + MongoDB</p>
											</div>
											<div class="cube frontEnd" >	
												<div class="cubeTop"></div>
												<div class="cubeFront">HTML5, CSS3,Sass, JS/JQuery</div>
												<div class="cubeRight">Detailed <br> & Passionate</div>
												<div class="cubeLeft">AngularJS, <br>Django, MongoDB, </div>
												<div class="cubeBack">Self-taught<br> &Self-Motivated</div>
												<div class="cubeBottom"></div>
											</div>
										</div>
									</div>
									<div class="perspective ">
										<div class="carve"><h3>I believe in.. </h3></div>
										<div class="shelterWrapper bel">
											<div class="introShlter">
												<p>Dream <br> + <br> Hope <br> + <br> Passion</p>
											</div>
											<div class="cube believe">	
												<div class="cubeTop"></div>
												<div class="cubeFront">DREAM</div>
												<div class="cubeRight">Sunshine</div>
												<div class="cubeLeft">HOPE</div>
												<div class="cubeBack">PASSION</div>
												<div class="cubeBottom"></div>
											</div>
										</div>
									</div>
									
									<div class="perspective Ihope">
										
										<div class="carve"><h3> I hope to </h3></div>
										<div class="shelterWrapper Ihope">
											<div class="introShlter">
												<p>Great job:<br> good chemistry<br> + <br>fit in the company culture
												<br> +<br> make contribution<br> +<br> personal development</p>
											</div>
											<div class="cube hope">											
												<div class="cubeTop"></div>
												<div class="cubeFront">Find A Great Job <br>in San Francisco <br> or Boston</div>
												<div class="cubeRight">Find A Great Job <br>in San Francisco <br> or Boston</div>
												<div class="cubeLeft">Find A Great Job <br>in San Francisco <br> or Boston</div>
												<div class="cubeBack">Find A Great Job <br>in San Francisco <br> or Boston</div>
												<div class="cubeBottom"></div>
											</div>
										</div>
									</div>
								</div>
							</div><!--end of intro wapper-->
						</div><!-- end of content wrapper-->
					</div>
				</section>
				<section class="main" id="Experiments" ng-controller="projectsCtrl">
					<div class="row effOnScroll">
						<div class="contentWrap">
							<h1>Experiments</h1>
							<!--<h3>This is my Playground</h3>-->
							<div class="projectWrapper">
								<div ng-repeat="project in projects" class='projects'>
									<!--<-->
									<div class="description" style="background-image:url({$ project.img_url $})">
										<div class="proShelter top"><img ng-src='{$ project.img_url $}'></div>
										<div class="proShelter down"><img ng-src="{$ project.img_url $}"></div>
										<div class="descrpt top"><p>{$project.description$}</p></div>
										<div class="descrpt down"><p>{$project.description$}</p></div>
									</div>
									<div class="caption">
										<p>{$project.caption$}</p>
										<p>Tag:{$project.tag$}</p>
									</div>
								</div>
								<div class="buttonWrap">
									<!--<div class="load"><h3>This is my playground</h3></div>-->
								</div>
							</div><!--end of projects wrapper-->
						</div><!-- end of contentWrap-->
					</div>
				</section>
				<section class="main" id="Blog">
					<div class="row effOnScroll">
						<div class="contentWrap ">
							<!--
							<div class="wrapper blogshots">
								<div class="ribbon"></div>
								<div class="leftFold" id="left"></div>
								<button id="blogShots">< Blog Screen Shots</button>
								<!--there are issues about <button> in IE6 but don't need thosefunction that will trigger those problems-->
								<!--<div class="rightFold"></div>-->
								<!-- end of ribbon -->
							<!--</div>
							<div class="wrapper bloglink">
								<div class="ribbon link"></div>
								<button  id="BlogLink">Check My Blog > </button>
							<!--use button & its pseudo element<input> & <img> doesn't has pseudo element.-->
							<!--</div>-->
							<h1>My Blog</h1>
							<div class="sliderWrapper">
									<div class="slider" id="sliderLeft">
										<ul>
											
											<li><p>My blog is my first side project. While building this project,
													I used AngularJS as the front-end framework and Django/REST framwork
													as the back-end. For the database, it's noSQL--MongoDB. Also, like
													this portfolio, I use SASS for styling. The reason why I use these things
													is I want to learn new things, new knowledge and new skills. As you know,
													fron-end is a fast going field, self-learning is a must-have quality
													for front-end software engineer. So I chose those stuffs to nail this blog.
													My blog is my first side project. While building this project,
													I used AngularJS as the front-end framework and Django/REST framwork
													as the back-end. For the database, it's noSQL--MongoDB. Also, like
													this portfolio, I use SASS for styling. 
												</p>
											</li>
											<li><img src="/static/images/Blog-Create.PNG"></li>
											<li><img src="/static/images/Blog-Create.PNG" style="float:right;"></li>
										</ul>
									</div>
									<div class="slider" id="slicesWrapper">
										<ul>
											
											<li><img src="/static/images/Blog-Create.PNG"></li>
											<li><img src="/static/images/Blog-Create.PNG"></li>
											<li><p>My blog is my first side project. While building this project,
													I used AngularJS as the front-end framework and Django/REST framwork
													as the back-end. For the database, it's noSQL--MongoDB. Also, like
													this portfolio, I use SASS for styling. The reason why I use these things
													is I want to learn new things, new knowledge and new skills. As you know,
													fron-end is a fast going field, self-learning is a must-have quality
													for front-end software engineer. So I chose those stuffs to nail this blog.
													My blog is my first side project. While building this project,
													I used AngularJS as the front-end framework and Django/REST framwork
													as the back-end. For the database, it's noSQL--MongoDB. Also, like
													this portfolio, I use SASS for styling. 
													
												</p>
											</li>	
										</ul>
										<button class="btnCtrl" id="prev"></button>
										<button class="btnCtrl" id="next"></button>
									</div>
									<div class="slider" id="sliderRight">
										<ul>
											
											<li><img src="/static/images/Blog-Create.PNG"></li>	
											<li><p>My blog is my first side project. While building this project,
													I used AngularJS as the front-end framework and Django/REST framwork
													as the back-end. For the database, it's noSQL--MongoDB. Also, like
													this portfolio, I use SASS for styling. The reason why I use these things
													is I want to learn new things, new knowledge and new skills. As you know,
													fron-end is a fast going field, self-learning is a must-have quality
													for front-end software engineer. So I chose those stuffs to nail this blog.
													My blog is my first side project. While building this project,
													I used AngularJS as the front-end framework and Django/REST framwork
													as the back-end. For the database, it's noSQL--MongoDB. Also, like
													this portfolio, I use SASS for styling. 
											</li>
											<li><img src="/static/images/Blog-Create.PNG"></li>
										</ul>
									</div>
							</div>
							
						</div><!-- end of contentWrap-->
					</div><!-- end of row effOnScroll-->
				</section>
				<section class="main" id="MoreAboutMe">
					<div class="row effOnScroll">
						<section class="contentWrap">
								<h1>More About Me</h1>
								<div class="optionsWrap">
									<div class="options">
										<!--
										<div class="face smile">
												<div class="eye leftEye"></div>
												<div class="eye rightEye"></div>
												<div class="mouths"></div>
											</div>-->
											<!--<div class="heart"></div>-->
										
										<h3 class="option like"><span><i class="icon-heart"></i></span> Pink, Red, Warm Color</h3>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Black coffee and Tea</h3>
										<br>
										<h3 class="option dislike"> Being judged</h3>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Try new things</h3>
										<br>
										<h3 class="option like"><span><i class="icon-heart-filled"></i></span> Sunshine in California</h3>
										<h3 class="option dislike">Winter in Boston</h3>
										<h3 class="option like"><span><i class="icon-heart-filled"></i></span> SanFrancisco</h3>
										<br>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Book "Lean in"</h3>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Book "head first--OODA"</h3>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Book "Eat Pray Love"</h3>
										<br>
										<h3 class="option dislike">Messy code</h3>
										<h3 class="option dislike">Complicated relationship</h3>
										<br>
										
										<h3 class="option like"><span><i class="icon-heart"></i></span> Learn and use new knowledge and skills</h3>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Being Front-end Engineer</h3>
										<br>
										<h3 class="option like"><span><i class="icon-heart"></i></span> Piano and Violin</h3>
										<h3 class="option like"><span><i class="icon-heart"></i></span> David Garrett</h3>

									</div><!--options end-->
								</div><!--end of optionsWrap-->
								<!--
								<div class="optionList">
									<div class="likeList"> like</div>
									<div class="dislikeLst"> dislike</div>
								</div>end of optionList -->
								<!--<div class="faces" id="faces1"></div>-->
								<!-- ******************************************for later use******************-->
								<!--<div class="faces" id="faces3">
									<div class="smile changeFace">
										<div class="eye left"></div>
										<div class="eye right"></div>
										<div class="mouth">
											<ul class="teeth">
												<li></li>
												<li></li>
												<li></li>
												<li></li>
												<li></li>
												first row of teeth
											</ul>
										</div>
									</div>
								</div> <!--face end-->
							<!--
							<div class="dislike">
								<h3>Dislike it...</h1>
								<div class="upset">
									<div class="eye left"></div>
									<div class="eye right "></div>
									<div class="mouth"></div>
								</div>
							</div>-->
							<!--
							<h1 class='hi opacity' style="text-align:center">Hey, I'm Guangyi. Contact</h1>
							<h1 class='hi-right opacity' style="text-align:center;">Hey, I'm Guangyi. Contact-RIGHT</h1>
							<h1 class='rotate' style="float:float">Hey,I'm Guangyi rotate.</h1>-->
						</section>
					</div>
				</section>
				<section class="main" id="Contact" ng-controller="contactCtrl">
					<div class="row effOnScroll">
						<div class="contentWrap">
							<h1>Contact Me</h1>
							<div class="clouds">
								<div class="cloud">
									<div class="cloudPart1"></div>
									<div class="cloudPart2"></div>
								</div>
								<!--<div class="dialog">
									<h3> Send me an email, tell me what you think, let me know how can I do better.I'm looking forward to hearing from you.</h3>
								</div>-->
							</div><!--end of clouds -->
							<div class="form">
								<h2>Send me an Email </h2><p> ---Tell me what you think, let me know how can I do better.I'm looking forward to hearing from you.</p>
								<!--Angular Form with its way of validation-->
								<form id="contactForm" name="contactForm" novalidation>
									<div class="input">
										<label>Your Name:</label><br><span class="error" ng-show="contactForm.name.$error.required && clicked">Your name is Required!</span><br>
										<input type="text" name="name" autocomplete="on" autofocus required ng-model="emailData.name">
										<div class="second">
											<label>Your Email:</label><br> 
											<span class="error" ng-show="contactForm.email.$invalid && clicked">Your email is invalid!</span><br>
											<input type="email" name="email" autocomplete="on" required ng-model="emailData.email"><br>
										</div>
									</div><!--end of input-->
									<div class="message">
										<label>Your Message: </label><br>
										<span class="error" ng-show="contactForm.message.$error.required && clicked">Your Message are Required!</span><br>
										<textarea rows="6em" cols="170" required ng-model="emailData.message" name="message"></textarea>
										<input class="contactButton" type="button" value="Send your Email" ng-click="sendEmail()" >
									</div><!-- end of message-->
								</form><!-- end of form-->
							</div>
							<div class="alertBox" ng-show ='base'>
								<div ng-show = "loading" class="loading">
									<h1 class="mailRotate"><i class="icon-mail"></i></h1>
								</div>
								<h2>Sending...</h2>
								<div ng-show='alert' class="alert">
									<h3>{$alertMsg$}</h3>
									<button class="contactButton" ng-click='alert=false; base=false; '>Ok</button>
								</div>
							</div>
						</div><!-- end of contentWrap-->
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
</body>
</html>
