/* line 8, ../sass/Blog.scss */
#Blog {
  background: #ff7575;
  text-align: center;
}
/* line 12, ../sass/Blog.scss */
#Blog h1 {
  font-size: 2.5em;
  color: #fff;
}
/* line 16, ../sass/Blog.scss */
#Blog h2 {
  font-size: 1.5em;
}

/* line 20, ../sass/Blog.scss */
#Blog {
 /*
.wrapper{
	position:absolute;
	width:25%;
	height:10%;
	&.blogshots{
		top:80%;
		left:27%;
	}
	&.bloglink{
		top:85%;
		right:28%;
	}
	.ribbon{
		position:relative;
		width:1.5em;
		height:0;
		border-width:0.8em 0.5em;
		border-color:$btnBlogShots $btnBlogShots $btnBlogShots transparent;
		border-style:solid;
		top:0.65em;
		left:-0.9em;
		z-index: 1;
		&.link{
			width:1em;
			top:0.6em;
			left:92%;
			border-color:$btnBlogLink transparent $btnBlogLink $btnBlogLink ;
		}
	}
}*/
}
/* line 21, ../sass/Blog.scss */
#Blog .contentWrap {
  width: 100%;
  height: 100%;
  left: 0;
  position: relative;
  overflow: hidden;
  display: table;
  background: #ff7575;
}
/* line 29, ../sass/Blog.scss */
#Blog .contentWrap .sliderWrapper {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding-top: 2em;
  max-height: 700px;
  min-height: 450px;
}
/* line 39, ../sass/Blog.scss */
#Blog .slider {
  overflow: hidden;
  background: #ffbbbb;
  width: 70vw;
  max-height: 500px;
  min-height: 500px;
  position: absolute;
  -webkit-box-shadow: 0px 6px 3px black;
  -moz-box-shadow: 0px 6px 3px black;
  box-shadow: 0px 6px 3px black;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-reflect: below 0px -webkit-linear-gradient(top, transparent 80%, white);
}
/* line 51, ../sass/Blog.scss */
#Blog .slider ul {
  left: 0;
  position: relative;
  height: 100%;
  display: table;
}
/* line 56, ../sass/Blog.scss */
#Blog .slider ul li {
  color: #462304;
  width: 60vw;
  height: 70vh;
  min-height: 300px;
  position: relative;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 66, ../sass/Blog.scss */
#Blog .slider ul li img {
  max-width: 100%;
  max-height: 100%;
}
/* line 74, ../sass/Blog.scss */
#Blog .slider ul li h3 {
  line-height: 2em;
  font-size: 1.7vw;
  padding: 5vw;
}
/* line 82, ../sass/Blog.scss */
#Blog .slider .btnCtrl {
  background: transparent;
  position: absolute;
  top: 50%;
  height: 2.7em;
  width: 2.7em;
  overflow: hidden;
  border: none;
}
/* line 91, ../sass/Blog.scss */
#Blog .slider #prev {
  background: url("/static/images/gray_prev.png") no-repeat;
  background-position: 0 100%;
  left: 0;
}
/* line 95, ../sass/Blog.scss */
#Blog .slider #prev:hover {
  background-position: 0 0;
}
/* line 99, ../sass/Blog.scss */
#Blog .slider #next {
  background: url("/static/images/gray_next.png") no-repeat;
  right: 0;
  background-position: 0 100%;
}
/* line 103, ../sass/Blog.scss */
#Blog .slider #next:hover {
  background-position: 0 0;
}
/* line 108, ../sass/Blog.scss */
#Blog #sliderLeft {
  -webkit-transform: translateX(-74%) rotateY(35deg) scale(0.9) translateY(0.5%);
  -moz-transform: translateX(-74%) rotateY(35deg) scale(0.9) translateY(0.5%);
  -ms-transform: translateX(-74%) rotateY(35deg) scale(0.9) translateY(0.5%);
  -o-transform: translateX(-74%) rotateY(35deg) scale(0.9) translateY(0.5%);
  transform: translateX(-74%) rotateY(35deg) scale(0.9) translateY(0.5%);
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}
/* line 111, ../sass/Blog.scss */
#Blog #sliderLeft ul li:nth-child(1) {
  background: #78a632;
}
/* line 111, ../sass/Blog.scss */
#Blog #sliderLeft ul li:nth-child(2) {
  background: #ff7575;
}
/* line 111, ../sass/Blog.scss */
#Blog #sliderLeft ul li:nth-child(3) {
  background: #ffad00;
}
/* line 111, ../sass/Blog.scss */
#Blog #sliderLeft ul li:nth-child(4) {
  background: #9ee0ff;
}
/* line 111, ../sass/Blog.scss */
#Blog #sliderLeft ul li:nth-child(5) {
  background: #78a632;
}
/* line 111, ../sass/Blog.scss */
#Blog #sliderLeft ul li:nth-child(6) {
  background: #ff7575;
}
/* line 124, ../sass/Blog.scss */
#Blog #sliderRight {
  -webkit-transform: translateX(116.2%) rotateY(-35deg) scale(0.9) translateY(0%);
  -moz-transform: translateX(116.2%) rotateY(-35deg) scale(0.9) translateY(0%);
  -ms-transform: translateX(116.2%) rotateY(-35deg) scale(0.9) translateY(0%);
  -o-transform: translateX(116.2%) rotateY(-35deg) scale(0.9) translateY(0%);
  transform: translateX(116.2%) rotateY(-35deg) scale(0.9) translateY(0%);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}
/* line 127, ../sass/Blog.scss */
#Blog #sliderRight ul li:nth-child(1) {
  background: #ffad00;
}
/* line 127, ../sass/Blog.scss */
#Blog #sliderRight ul li:nth-child(2) {
  background: #9ee0ff;
}
/* line 127, ../sass/Blog.scss */
#Blog #sliderRight ul li:nth-child(3) {
  background: #78a632;
}
/* line 127, ../sass/Blog.scss */
#Blog #sliderRight ul li:nth-child(4) {
  background: #ff7575;
}
/* line 127, ../sass/Blog.scss */
#Blog #sliderRight ul li:nth-child(5) {
  background: #ffad00;
}
/* line 127, ../sass/Blog.scss */
#Blog #sliderRight ul li:nth-child(6) {
  background: #9ee0ff;
}
/* line 140, ../sass/Blog.scss */
#Blog #slicesWrapper {
  -webkit-box-reflect: below 0px -webkit-linear-gradient(top, transparent 80%, white);
  -webkit-transform: scale(0.9) translateX(23.5%) translateY(-5.4%);
  -moz-transform: scale(0.9) translateX(23.5%) translateY(-5.4%);
  -ms-transform: scale(0.9) translateX(23.5%) translateY(-5.4%);
  -o-transform: scale(0.9) translateX(23.5%) translateY(-5.4%);
  transform: scale(0.9) translateX(23.5%) translateY(-5.4%);
}
/* line 143, ../sass/Blog.scss */
#Blog #slicesWrapper ul li:nth-child(1) {
  background: #ff7575;
}
/* line 143, ../sass/Blog.scss */
#Blog #slicesWrapper ul li:nth-child(2) {
  background: #ffad00;
}
/* line 143, ../sass/Blog.scss */
#Blog #slicesWrapper ul li:nth-child(3) {
  background: #9ee0ff;
}
/* line 143, ../sass/Blog.scss */
#Blog #slicesWrapper ul li:nth-child(4) {
  background: #78a632;
}
/* line 143, ../sass/Blog.scss */
#Blog #slicesWrapper ul li:nth-child(5) {
  background: #ff7575;
}
/* line 143, ../sass/Blog.scss */
#Blog #slicesWrapper ul li:nth-child(6) {
  background: #ffad00;
}
/* line 149, ../sass/Blog.scss */
#Blog #slicesWrapper .slice {
  position: relative;
  background: #9ee0ff;
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
}
/* line 156, ../sass/Blog.scss */
#Blog #slicesWrapper .slice .dialogBox {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fff;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5% 8% 5% 8%;
  line-height: 150%;
}
/* line 171, ../sass/Blog.scss */
#Blog .blogLink {
  position: absolute;
  float: right;
  width: 12em;
  color: #fff;
  right: 1em;
  bottom: 1em;
}

 /*
#blogShots{
	z-index:2;
	position:absolute;
	top:0;
	left:0;
	font-size:1.1em;
	color:#fff;
	background:$btnBlogShots;
	//@include border-radius(0.3em);
	&:before{
		content: "Show Me";
		position:absolute;
		top:-1em;
		font-size: 0.7em;
		color:#696969;
		top:-1em;
		
	}
	&:after{
		content:"";
		width:0;
		height:0;
		position:absolute;
		border-width:0.3em 0.7em;
		border-color: #9d133f #9d133f transparent transparent;
		border-style:solid;
		top:103%;
		left:1px;
	}
}
#BlogLink{
	z-index:2;
	position:absolute;
	top:0;
	right:0;
	font-size:1em;
	color:#fff;
	background:$btnBlogLink;//#929292;
	&:before{
		content: "";
		position:absolute;
		width:0;
		height:0;
		border-width:0.3em 0.55em;
		border-color:#333 transparent transparent #333;
		bottom:-2px;
		right:-1px;
		top:105%;
		border-style:solid;
	}
	&:after{
		content:"In a new tab";
		position:absolute;
		font-size: 0.7em;
		color:#696969;
		top:-1em;
		right:0;
	}
}*/
@media screen and (max-width: 78.125em) {
  /* line 270, ../sass/Blog.scss */
  #Blog h1 {
    font-size: 2em;
  }

  /* line 273, ../sass/Blog.scss */
  .slider ul li img {
    -webkit-transform: scale(1.2) translateY(8.4%);
    -moz-transform: scale(1.2) translateY(8.4%);
    -ms-transform: scale(1.2) translateY(8.4%);
    -o-transform: scale(1.2) translateY(8.4%);
    transform: scale(1.2) translateY(8.4%);
  }
}
@media screen and (max-width: 71.875em) {
  /* line 278, ../sass/Blog.scss */
  .slider ul li img {
    -webkit-transform: scale(1.3) translateY(11.6%);
    -moz-transform: scale(1.3) translateY(11.6%);
    -ms-transform: scale(1.3) translateY(11.6%);
    -o-transform: scale(1.3) translateY(11.6%);
    transform: scale(1.3) translateY(11.6%);
  }
}
@media screen and (max-width: 65.625em) {
  /* line 283, ../sass/Blog.scss */
  #Blog h1 {
    font-size: 1.5em;
  }

  /* line 289, ../sass/Blog.scss */
  .slider ul li img {
    -webkit-transform: scale(1.4) translateY(14.3%);
    -moz-transform: scale(1.4) translateY(14.3%);
    -ms-transform: scale(1.4) translateY(14.3%);
    -o-transform: scale(1.4) translateY(14.3%);
    transform: scale(1.4) translateY(14.3%);
  }
}
@media screen and (max-width: 53.125em) {
  /* line 297, ../sass/Blog.scss */
  .slider ul li img {
    -webkit-transform: scale(1.5) translateY(17.3%);
    -moz-transform: scale(1.5) translateY(17.3%);
    -ms-transform: scale(1.5) translateY(17.3%);
    -o-transform: scale(1.5) translateY(17.3%);
    transform: scale(1.5) translateY(17.3%);
  }
}
@media screen and (max-width: 46.875em) {
  /* line 306, ../sass/Blog.scss */
  #Blog .slider ul li img {
    -webkit-transform: scale(1.6) translateY(19.3%);
    -moz-transform: scale(1.6) translateY(19.3%);
    -ms-transform: scale(1.6) translateY(19.3%);
    -o-transform: scale(1.6) translateY(19.3%);
    transform: scale(1.6) translateY(19.3%);
  }
}
