/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/style.scss */
body {
  font-family: "proxima nova light","Helvetica Neue",Helvetica,Arial,Sans-serif;
}

/* line 11, ../sass/style.scss */
#header {
  width: 7%;
  text-align: center;
  color: #fff;
  position: fixed;
  z-index: 2;
  float: left;
  background: #70161D;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 23, ../sass/style.scss */
#header:hover {
  width: 7%;
  background: gainsboro;
}
/* line 28, ../sass/style.scss */
#header #nav a {
  font-family: "proxima nova light","Helvetica Neue",Helvetica,Arial,Sans-serif;
  display: block;
  width: 100%;
  height: 2em;
  color: #FDE7EF;
  text-decoration: none;
}
/* line 35, ../sass/style.scss */
#header #nav a:hover {
  background: #d14662;
  opacity: 1;
  color: #fff;
}

/* line 44, ../sass/style.scss */
.content {
  float: right;
  width: 93%;
}
/* line 47, ../sass/style.scss */
.content .main {
  font-size: 1.5em;
  padding: 1em 5.381%;
  text-align: center;
  background: #600;
  border-top: 1px solid gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, ../sass/style.scss */
.content .main .row {
  position: relative;
}
/* line 58, ../sass/style.scss */
.content #Welcome {
  background: #924032;
  text-align: left;
}
/* line 61, ../sass/style.scss */
.content #Welcome h1 {
  font-size: 2.5em;
  color: #F2F2F2;
  margin-bottom: 0.33em;
}
/* line 66, ../sass/style.scss */
.content #Welcome p {
  font-size: 0.8em;
  color: #F2F2F2;
  margin: 0.5em 0em;
}
